# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.pyc
*.pyo

# Data files
*.csv
*.xls
*.xlsx
*.json


# Environments
env/
venv/
.venv/

# Ignore Jupyter notebook checkpoints
.ipynb_checkpoints/

config.yaml